.parent_container {
  width: 600px;
  height: 600px;
  background-color: green;
}

.parent_container_2 {
  background-color: #ce1b1b;
  width: 100px;
  height: 100px;
}

.parent_container_child_1 {
  background-color: black;
  width: 100px;
  height: 100px;
}
.parent_container_child_2 {
  background-color: blue;
  width: 100px;
  height: 100px;
}
.parent_container_child_3 {
  background-color: orange;
  width: 100px;
  height: 100px;
}
